.click:hover  {
    cursor: pointer;
}

.icon {
    width: 20px;
    margin-right: 0.5rem;
}

.flex {
    display: flex;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

/** Container Login Queries */
@media (max-width: 500px) {
    .container-login {
        width: 90%;
        margin: 0 auto;
    }

    .image-login {
        margin-top: 1rem;
        width: 100%;
    }
}

@media (min-width: 500px) {
    .container-login {
        width: 60%;
        margin: 0 auto;
    }

    .image-login {
        width: 60%;
        margin-top: 1rem;
    }
}

@media (min-width: 800px) {
    .container-login {
        width: 40%;
        margin: 0 auto;
    }

    .image-login {
        width: 30%;
        margin-top: 1rem;
    }
}

.menu-shop-display {
    display: none;
}

@media (min-width: 768px) {
    .menu-shop-none {
        display: none;
    }

    .menu-shop-display {
        display: block;
    }
}

.menu-selected {
    border-radius: 8px;
    padding: 6px 12px;
    border: solid 2px #efece9;
    font-weight: bold;
}

.menu-no-selected {
    background-color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
    border: solid 2px #efece9;
    color: #b8b4b4;
    font-weight: bold;
    margin: 1rem 0
}

.tardan {
    background-color: #f1c1cd;
    color: #93213e;
}

.sidebar-shops {
    display: none;   
}

@media (min-width: 768px) {
    .sidebar-shops {
        display: block;
    }

    .container-shops {
        margin-left: 200px;
    }
}